body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sofa {
  width: 1000px;
  height: 600px;
  background: url("soffa.png") no-repeat;
  background-size: 100% auto;
  margin:20px;
}
.sofa svg {
  mix-blend-mode: multiply;
}
label {
  display: inline-block;
  width:50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
label.red {
  background:red;
}
label.green {
  background:green;
}
label.blue {
  background:blue;
}
label.yellow {
  background:yellow;
}
label.black {
  background:black;
}
input[type="radio"] {
  visibility: hidden;
}

.cls-1 {
  fill:red;
}
#red-radio:checked ~ .sofa .cls-1 {
  fill:red;
}
#green-radio:checked ~ .sofa .cls-1 {
  fill:green;
}
#blue-radio:checked ~ .sofa .cls-1 {
  fill:blue;
}
#yellow-radio:checked ~ .sofa .cls-1 {
  fill:yellow;
}
#black-radio:checked ~ .sofa .cls-1 {
  fill:black;
}
.cls-1 { fill:red; }
